@media screen and (max-width: 768px){

    .bloque-principal .titulo-bloque-principal h1{
        font-size: 36px;
    }
      
      .subtitulo-bloque-principal{
        font-size: 14px;
       }
    
       .bloque-principal .titulo-bloque-principal .world{
        font-size: 36px;
      }
    
       button
      {   
            font-size: 16px;
      }
    
         
      .dot{
        font-size: 36px;
      }
    
}