@media screen and (max-width: 768px){
  .container-invitados{
    position: relative;
    margin-top: 100px;    
          
      .titulo-invitados{
        font-size: 36px;
        margin-left: 30px;
        text-align: left;
        letter-spacing: 0;
        line-height: 42px;
      }

      .grid-imagenes-invitados{
        grid-template-rows: repeat(6, 100vw);
        grid-template-columns: auto;
      }
      
    }
}
