@media screen and (max-width: 768px){
      
      footer {

      .copyright{
        float: none;
        margin-left: 0px;
        text-align: center;
        font-size: 14px;
      }
      
      .redes-sociales{
        float: none;
        text-align: center;
        margin-right: 0px;
      }
      
  }
}